########################
# Unreal Derived Files #
########################

*/Intermediate/
*/Saved/
*/Binaries/
*/Build/
*/DerivedDataCache/
*/Content/LevelPrototyping/
*/Content/__ExternalObjects__/
*/Content/Characters/
*/Content/StarterContent/
*/Content/__ExternalActors__/
*/Platforms/HoloLens/


#######################
# Visual Studio Files #
#######################
*/.vs/
*.vsconfig
*/*.sln

